{% extends 'base.html' %}

{% block head %}
<title>Support Bot</title>
{%endblock%}

{% block body %}
<div class="content">
    <h1 style="text-align: center;">Please navigate through the following form to reach your resolution</h1>
    <h3>Which sub-sub-category is your query related to?</h3>
    <a href="https://enterprise-confluence.aexp.com/confluence/display/MLP/MLS+Hive+Workbench+-+User+Guide#MLSHiveWorkbenchUserGuide-HowtobeginusingHiveConsoleinMLS?" target="_blank"><button type="button">Initialize Hive console in MLS</button></a>
    <a href="https://enterprise-confluence.aexp.com/confluence/display/MLP/MLS+Hive+Workbench+-+User+Guide#MLSHiveWorkbenchUserGuide-DownloadCornerstonedatatolocalmachine:" target="_blank"><button type="button">Download cornerstone data to local</button></a>
    <a href="https://enterprise-confluence.aexp.com/confluence/display/MLP/MLS+Hive+Workbench+-+User+Guide#MLSHiveWorkbenchUserGuide-Question:Allmyqueriesarefailing,whatcanIdo?" target="_blank"><button type="button">All queries are failing</button></a>
    <a href="https://enterprise-confluence.aexp.com/confluence/display/MLP/MLS+Hive+Workbench+-+User+Guide#MLSHiveWorkbenchUserGuide-Question:CanIsavethetablesIcreatedonapathonthecluster?" target="_blank"><button type="button">Save tables created on cluster</button></a>
    <a href="https://enterprise-confluence.aexp.com/confluence/display/MLP/MLS+Hive+Workbench+-+User+Guide#MLSHiveWorkbenchUserGuide-Question:HowcanIsetmultipleconfigurationsforHivelikeIcandoinHiveTerminal?" target="_blank"><button type="button">Set multiple configuration for hive</button></a>
    <a href="https://enterprise-confluence.aexp.com/confluence/display/MLP/MLS+Hive+Workbench+-+User+Guide#MLSHiveWorkbenchUserGuide-Question:Iamgetting%22responsetimeouterror%22onallmyqueries." target="_blank"><button type="button">Getting response timeout error</button></a>
    <a href="https://enterprise-confluence.aexp.com/confluence/display/MLP/MLS+Hive+Workbench+-+User+Guide#MLSHiveWorkbenchUserGuide-Question:IamabletoconnecttoHiveConsolebutwheneverItrytoaccesscornerstonedataitgivesme0records?" target="_blank"><button type="button">Connected to hive but unable to extract data from CS</button></a>
    <a href="https://enterprise-confluence.aexp.com/confluence/display/MLP/MLS+Hive+Workbench+-+User+Guide#MLSHiveWorkbenchUserGuide-Question:Myhivequeriesarerunningreallyslow.IsthereanythingIcando?" target="_blank"><button type="button">Hive queries are running slow</button></a>
    <a href="https://enterprise-confluence.aexp.com/confluence/display/MLP/MLS+Hive+Workbench+-+User+Guide" target="_blank"><button type="button">What is Hive Workbench?</button></a>
    <a href="/MLS/Hive/"><button style="position: absolute; left: 80%; right: 10%; bottom: 20%;"> Back </button></a>
</div>
{% endblock %}