{% extends 'base.html' %}

{% block head %}
<title>Support Bot</title>
{%endblock%}

{% block body %}
<div class="content">
    <h1 style="text-align: center;">Please navigate through the following form to reach your resolution</h1>
    <h3>Which sub-category is your query related to?</h3>
    <a href="https://enterprise-confluence.aexp.com/confluence/display/MLP/ML+Studio+Access" target="_blank"><button type="button">Access Entitlements</button></a>
    <a href="https://enterprise-confluence.aexp.com/confluence/display/MLP/MLS+-+How+to+clear+your+cookies" target="_blank"><button type="button">Clear Cookies</button></a>
    <a href="https://enterprise-confluence.aexp.com/confluence/display/MLP/1.+How+to+login+to+MLS+and+some+simple+file+operations+in+MLS" target="_blank"><button type="button">Login to MLS</button></a>
    <a href="https://enterprise-confluence.aexp.com/confluence/display/MLP/MLS+-+How+to+restart+your+MLS+server" target="_blank"><button type="button">Restart MLS Server</button></a>
    <a href="https://enterprise-confluence.aexp.com/confluence/display/MLP/Usecase+Queues" target="_blank"><button type="button">Use case queue</button></a>
    <a href="/MLS/"><button style="position: absolute; left: 80%; right: 10%; bottom: 20%;"> Back </button></a>
</div>
{% endblock %}